* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --correct: rgb(0, 255, 55);
    --wrong: rgb(255, 0, 0);
    --normal: rgb(0, 204, 255)
}

body {
    /* background-color: #0f380f; */
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    justify-self: start;
    align-self: flex-start;
}

.score-link {
    position: absolute;
    top: 0;
    right: 90%;
}

.timer-box {
    position: absolute;
    top: 0;
    left: 80%;
    margin: 1.5;
    padding: 10;
}

.container {
    width: 850px;
    max-width: 75%;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 0 15px 0;
    border-radius: 15px;
}

.btn-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;
}

.btn {
    --normal
}