* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --correct: rgb(0, 255, 55);
    --wrong: rgb(255, 0, 0);
    --normal: rgb(0, 204, 255)
}

body {
    /* background-color: #0f380f; */
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    justify-self: start;
    align-self: flex-start;
}

.score-link {
    position: absolute;
    top: 0;
    right: 80%;
    margin: 10px;
    padding: 10px;
}

.timer-box {
    position: absolute;
    top: 0;
    left: 80%;
    margin: 10px;
    padding: 10px;
}

.container {
    width: 850px;
    max-width: 75%;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 0 15px 0;
    border-radius: 15px;
}

.home {
    text-align: center;
    display: visible;
}

.home h1 {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.quiz-intro {
    border: 3px dotted black;
    padding: 10px;
    margin: 10px;
}

.start-btn {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.btn-box {
    margin: 10px 0;
}

.hide {
    display: none;
}

.answer-text {
    display: flex;
    padding: 5px;
    font-size: 20px;
    border: 3px dotted black;
    background-color: grey;
    font-weight: bold;
    margin: 7px;
    width: 70%;
}